```
# Dependencies
node_modules/

# Environment / Secrets
.env
.env.local
*.env.*
*.jks
iste*.json

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Build artifacts
dist/
build/
target/
android/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
.DS_Store
.hg
.hgignore
.hgcheck
.hgsigs
.svn
.CVS
.CVSROOT
*.bak
*.swp
*.swo
*~
.DS_Store
Thumbs.db
```